.fb-events {

}

.fb-events--event-image {
  display: block;
}

.fb-events--event-title {
  margin-bottom: .5em;
  margin-bottom: .5rem;
}

.fb-events--layout-list .fb-events--event {
  overflow: hidden;
  padding-bottom: 1.5em;
  padding-bottom: 1.5rem;
}

.fb-events--layout-list .fb-events--event + .fb-events--event {
  padding-top: 1.5em;
  border-top: 1px solid #efefef;
}

.fb-events--layout-list .fb-events--event-image {
  float: right;
  width: 33.333333333%;
  margin-left: 1.5em;
  margin-left: 1.5rem;
}

.fb-events--event-excerpt p {
  font-size: 1em;
  font-size: 1rem;
}

.fb-events--layout-grid .fb-events--event {
  float: left;
  width: 50%;
}

.fb-events--layout-grid .fb-events--event-image {
  margin-bottom: .5em;
  margin-bottom: .5rem;
}

.fb-events--layout-grid .fb-events--event:nth-child(even) {
  padding-right: 1em;
  padding-right: 1rem;
  clear: left;
}

.fb-events--layout-grid .fb-events--event:nth-child(odd) {
  padding-left: 1em;
  padding-left: 1rem;
}

a.fb-events--view-all {
  clear: left;
  float: left;
}
